<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>
    <input type="text" [(ngModel)]="name">
    <button (click)="addName()">ADD</button>
    <ul *ngFor="let name of listofnames">
      <li>{{name}}</li>
    </ul>
    <p *ngIf="this.listofnames.length > 6">Cannot exceed more than 6</p>
    <button (click)="delete()">DELETE</button>
</body>
</html>